[minio.client]
endpoint = "127.0.0.1:9000"
access_key = "minioadmin"
secret_key = "minioadmin"
secure = false

[ct]
bone = 220
metal = 2700

[totalsegmentator.label]
left_femur = 75
right_femur = 76

[ct.roi]
spacing = 1.0
sdf_t = 5.0  # 截断距离

[dataset]
root = 'dataset'

[train]
root = 'train'

[train.vae]
subtask = 'metal'
use_amp = true  # 混合精度
resume = false
num_workers = 8
num_epochs = 100
warmup_epochs = 2  # 预热轮次数量
val_interval = 1
val_limit = 50
batch_size = 6
patch_size = [128, 128, 128]  # 特征尺寸，感受野，滑动窗口尺寸
sw_batch_size = 12  # 滑动窗口并发数
lr_g = 1e-4  # 生成器LR
lr_d = 2e-4  # 判别器LR通常略大
adversarial_weight = 0.05  # 对抗损失权重
perceptual_weight = 0.3  # 感知损失权重 (仅用于 pre/post CT)
eikonal_weight = 0.15  # 程函方程损失权重 (仅用于 metal TSDF)
kl_weight = 0.03  # KL正则化权重，与L1重建权重博弈，使模型既能重建又能符合健康的正态分布

[train.ldm]
use_amp = true  # 混合精度
resume = true
num_workers = 8
num_epochs = 1000
val_interval = 1
val_limit = 50
batch_size = 48  # 增大batch以减少loss振荡
sw_batch_size = 12  # 滑动窗口并发数
lr = 1e-4
gradient_accumulation_steps = 16  # 梯度累积
ema_decay = 0.999  # 指数移动平均衰减率
cfg = 3.0  # 验证可视化时的无分类引导权重