[minio.client]
endpoint = "127.0.0.1:9000"
access_key = "minioadmin"
secret_key = "minioadmin"
secure = false

[ct]
bone = 220
metal = 2700

[totalsegmentator.label]
left_femur = 75
right_femur = 76

[ct.roi]
size = [576, 256, 384]  # 整除4倍VAE下采样，再整除8倍LDM下采样
spacing = [0.5, 0.5, 0.5]

[dataset]
root = '.dataset'

[train]
root = '.train'

[train.vae]
use_amp = true  # 混合精度
resume = true
num_workers = 2
num_epochs = 500
warmup_epochs = 10  # 预热轮次数量
val_interval = 2
val_limit = 50
batch_size = 4
patch_size = [128, 128, 128]  # 特征尺寸，感受野，滑动窗口尺寸
sw_batch_size = 12  # 滑动窗口并发数
lr_g = 1e-5  # 生成器LR
lr_d = 5e-5  # 判别器LR通常略大
adversarial_weight = 0.02  # 对抗损失权重
perceptual_weight = 0.3  # 感知损失权重
kl_weight = 0.03  # KL正则化权重，与L1重建权重博弈，使模型既能重建又能符合健康的正态分布

[train.ldm]
use_amp = true  # 混合精度
resume = false
num_workers = 2
num_epochs = 1000
val_interval = 2
val_limit = 50
val_vae = true  # 验证可视化
batch_size = 2
sw_batch_size = 12  # 滑动窗口并发数
lr = 1.0e-4
ema_rate = 0.999  # 指数移动平均
gradient_accumulation_steps = 4  # 梯度累积